.profile-view {
  position: absolute;
  left: 0;
  top: 70px;
  background-color: $grey;
  width: 100%;
	height: 100%;
	min-height: 100% !important;
  display: flex;
  justify-content:flex-start; 
  flex-direction: column;
  align-items: center;

  .content-item {
    position: relative;
    left: 51.5%;
    top: 70px;
  }

  .posts-action-bar {
    width: 40%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 400px;
    border-radius: 14px;
    display: flex; 
    justify-content: space-between;
    align-items: center;

    select {
      width: 20%;
      border: 2px solid $border-grey;
      padding: 5px;
      margin-right: 20px;
    }

    p {
      margin-left: 20px;
    }

    #post-amount {
      width: 25px;
      padding-left: 7px;
      padding-right: 7px;
      height: 22px;
      color: white;
      text-align: center;
      border-radius: 50%;
      background-color: $title-red;
    }
  }

  .profile-banner {
    width: 80%;
    height: 280px;
    background-color: white;
    border-radius: 14px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #username {
      font-weight: bold;
      font-size: 30px;
      margin-top: -30px;
    }

    #desc {
      color: $text-grey;
      font-size: 20px;
      margin-top: 15px;
      padding-bottom: 20px;
    }

    #profile {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 2px solid $border-grey;
      position: relative;
      top: -50px;
    }
  }

  .info-box {
    width: 30%;
    background-color: white;
    border-radius: 14px;
    position: absolute;
    left: 10%;
    top: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    #information-title {
      color: $text-grey;
      font-size: 20px;
    }

    img {
      width: 22px;
      height: 25px;
      margin-right: 15px;
    }

    .info-item {
      width: 90%;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      padding: 10px;
    }

    .online {
      color: $submit-button-green;
    }

    .offline {
      color: $title-red;
    }

    span:nth-child(odd) {
      color: $text-grey;
    }
  }
}