@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

//Lightmode
$border-grey: #dcdcdc;
$text-grey: #909090;
$title-red: #d9271a;
$action-button-blue: #2079e3;
$action-button-border-outline: #073c7b;
$action-button-hover: #0c4b99;
$submit-button-green: #39b44d;
$grey: #cccc;

//darkmode
$darkmode-grey: #363234;
$darkmode-bg: #4f494d;

//Fonts
$main-title: 'Heebo', sans-serif;



//post container
//#4f494d
//#d1cbcf

//main bg
//#363234
